<?xml version="1.0" encoding="UTF-8"?><events><event><id>1</id>
<event_name>Shibani kashyap</event_name>
<event_date>2011-10-11</event_date>
<event_time>0000-00-00 00:00:00</event_time>
<location>BKC</location>
<city>Mumbai</city>
<event_status>P</event_status>
<created_date>2011-10-05 16:31:16</created_date>
<modified_date>0000-00-00 00:00:00</modified_date>
</event>
<event><id>2</id>
<event_name>Raghu Dixit</event_name>
<event_date>2011-10-18</event_date>
<event_time>0000-00-00 00:00:00</event_time>
<location>BKC</location>
<city>Mumbai</city>
<event_status>P</event_status>
<created_date>2011-11-05 13:09:31</created_date>
<modified_date>0000-00-00 00:00:00</modified_date>
</event>
<event><id>3</id>
<event_name>Vikas Bhalla</event_name>
<event_date>2011-10-14</event_date>
<event_time>0000-00-00 00:00:00</event_time>
<location>BKC</location>
<city>Mumbai</city>
<event_status>P</event_status>
<created_date>2011-11-05 13:09:45</created_date>
<modified_date>0000-00-00 00:00:00</modified_date>
</event>
<event><id>4</id>
<event_name>Shibani Kashyap</event_name>
<event_date>2011-10-02</event_date>
<event_time>0000-00-00 00:00:00</event_time>
<location>Ghatkoper</location>
<city>Mumbai</city>
<event_status>P</event_status>
<created_date>2011-11-05 13:09:56</created_date>
<modified_date>0000-00-00 00:00:00</modified_date>
</event>
<event><id>5</id>
<event_name>Kailash Kher</event_name>
<event_date>2011-11-11</event_date>
<event_time>0000-00-00 00:00:00</event_time>
<location>Kharghar</location>
<city>Navi Mumbai</city>
<event_status>P</event_status>
<created_date>2011-11-05 14:22:25</created_date>
<modified_date>0000-00-00 00:00:00</modified_date>
</event>
<event><id>6</id>
<event_name>Sonu Nigam</event_name>
<event_date>2011-10-10</event_date>
<event_time>0000-00-00 00:00:00</event_time>
<location>Bhs</location>
<city>Delhi</city>
<event_status>P</event_status>
<created_date>2011-11-05 14:21:43</created_date>
<modified_date>0000-00-00 00:00:00</modified_date>
</event>
<event><id>7</id>
<event_name>Sunidhi Chauhan</event_name>
<event_date>2011-10-01</event_date>
<event_time>0000-00-00 00:00:00</event_time>
<location>Dadar</location>
<city>Mumbai</city>
<event_status>P</event_status>
<created_date>2011-11-05 14:20:43</created_date>
<modified_date>0000-00-00 00:00:00</modified_date>
</event>
<event><id>8</id>
<event_name>Akon</event_name>
<event_date>2011-10-26</event_date>
<event_time>0000-00-00 00:00:00</event_time>
<location>Bhandup</location>
<city>Mumbai</city>
<event_status>P</event_status>
<created_date>2011-11-05 13:09:01</created_date>
<modified_date>0000-00-00 00:00:00</modified_date>
</event>
<event><id>9</id>
<event_name>New Artist</event_name>
<event_date>2011-10-05</event_date>
<event_time>0000-00-00 00:00:00</event_time>
<location>Mumbai</location>
<city>Mumbai</city>
<event_status>P</event_status>
<created_date>2011-10-05 20:12:58</created_date>
<modified_date>0000-00-00 00:00:00</modified_date>
</event>
<event><id>10</id>
<event_name>Abhijeet Sawant</event_name>
<event_date>2011-10-29</event_date>
<event_time>0000-00-00 00:00:00</event_time>
<location>CST</location>
<city>Mumbai</city>
<event_status>P</event_status>
<created_date>2011-11-05 13:08:33</created_date>
<modified_date>0000-00-00 00:00:00</modified_date>
</event>
<event><id>11</id>
<event_name>Mukul deora</event_name>
<event_date>2011-11-10</event_date>
<event_time>9:00 am</event_time>
<location>Juhu</location>
<city>Mumbai</city>
<event_status>P</event_status>
<created_date>2011-11-10 13:23:12</created_date>
<modified_date>0000-00-00 00:00:00</modified_date>
</event>
<event><id>12</id>
<event_name>KK Menon</event_name>
<event_date>2011-11-09</event_date>
<event_time>0000-00-00 00:00:00</event_time>
<location>Bhandup</location>
<city>Mumbai</city>
<event_status>DL</event_status>
<created_date>0000-00-00 00:00:00</created_date>
<modified_date>0000-00-00 00:00:00</modified_date>
</event>
<event><id>13</id>
<event_name>Himesh</event_name>
<event_date>2011-11-09</event_date>
<event_time>11.30am</event_time>
<location>Mahalaxmi</location>
<city>Mumbai</city>
<event_status>P</event_status>
<created_date>0000-00-00 00:00:00</created_date>
<modified_date>0000-00-00 00:00:00</modified_date>
</event>
<event><id>14</id>
<event_name>KK Menon</event_name>
<event_date>2011-11-09</event_date>
<event_time>10.30pm</event_time>
<location>Juhu</location>
<city>Mumbai</city>
<event_status>P</event_status>
<created_date>0000-00-00 00:00:00</created_date>
<modified_date>0000-00-00 00:00:00</modified_date>
</event>
</events>